:root {
    --white: white;
}

* {
    scroll-behavior: smooth;
}

.navbar {
    background-color: transparent;
    box-shadow: none;
    position: absolute;
    width: 100%;
    font-size: 35px;
}

.navbar-item:hover,
.navbar-item:focus {
  background-color: transparent !important;
  color: inherit;
}

body {
    background-color: rgb(158, 189, 252);
}

.zoom {
    transition: transform 0.3s ease;
}

.zoom:hover {
    transform: scale(1.1);
}

/* large font size */
.fontSizeLarge {
    font-size: 150px;
}


/* fonts */
.defaultFont {
    font-family: 'Quicksand', sans-serif;
}

.imJaime {
    font-size: 50px;
}

.web {
    font-size: 50px;
}

.firstQuote {
    font-size: 70px;
}


.lightBlue {
    background-color: var(--lightBlue);
    color: var(--white)
}

.white {
    color: var(--white);
}

.fixedButton {
    /* sticky */
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;

}


.background-image {
    background-image: url('');
    background-image: url('../images/sunset.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* Optional: Makes the image stay fixed on scroll */
    min-height: 100vh;
    /* Ensure the section takes up the full screen */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.image1 {
    background-image: url('');
    background-image: url('../images/sunset.jpeg');
  
}
*/

/* in relation to js */
/* .hide {
    opacity: 0;
    filter: blue(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
} */

/* transition delay on 'top' section*/
.imJaime:nth-child(2) {
    transition-delay: 200ms;
}

/* transition delay for 'recent work' section */
.recentWork:nth-child(2) {
    transition-delay: 200ms;
}

.recentWork:nth-child(3) {
    transition-delay: 400ms;
}

.recentWork:nth-child(4) {
    transition-delay: 600ms;
}

.recentWork:nth-child(5) {
    transition-delay: 800ms;
}



/* removes annimation if unwanted */
@media(prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}