:root {
    --darkest: #03045E;
    --inbetween: #0096C7;
    --blue: #0077B6;
    --lightBlue: #70cede;
    --light: #CAF0F8;
    --white: white;
}

* {
    scroll-behavior: smooth;
}

.lightBlue {
    background-color: var(--lightBlue);
    color: var(--white)
}

.fixedButton {
    /* sticky */
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;

}

/* in relation to js */
.hide {
    opacity: 0;
    filter: blue(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

/* transition delay on 'top' section*/
.imJaime:nth-child(2) {
    transition-delay: 200ms;
}

/* transition delay for 'recent work' section */
.recentWork:nth-child(2) {
    transition-delay: 200ms;
}

.recentWork:nth-child(3) {
    transition-delay: 400ms;
}

.recentWork:nth-child(4) {
    transition-delay: 600ms;
}

.recentWork:nth-child(5) {
    transition-delay: 800ms;
}


/* removes annimation if unwanted */
@media(prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}